# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def my_function():
    print("Hello World") 

my_function() # calling the function to get the output

Hello World

In [2]:
def my_function2():
    print(8*2)
my_function2()

16

### Why we need function?

In [3]:
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")
print("2001 Newburg Road")

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [4]:
def address():
    print("2001 Newburg Road")
address()
address()
address()
address()
address()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [5]:
def squared(number):
    return (number**2)
squared(2)

4

In [6]:
squared(12345)

152399025

In [7]:
# Cube of numbers
def cubed(number):
    return (number**3)
cubed(5)

125

## Our own functions for practice
`Echo` that will act same as print

In [8]:
def echo(data):
    return data
echo("Hello ")

'Hello '

In [9]:
echo(5)

5

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [10]:
def favorite_book(title):
    print(title+" is one of my favorite books")

In [11]:
favorite_book("Alice in Wonderland")

Alice in Wonderland is one of my favorite books

In [12]:
def favorite_book1(title):
    message=title+" is one of my favorite books"
    return(message)

In [13]:
favorite_book1("Programming")

'Programming is one of my favorite books'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [14]:
def calc_MPG(miles_driven, gallons_used):
    return(miles_driven/gallons_used)

In [15]:
calc_MPG(100,3)

33.333333333333336

In [16]:
calc_MPG(200,5)

40.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [17]:
def MPG(miles_driven = 200, gallons_used = 12):
    gallons_used=11
    miles_driven=300
    return (miles_driven/gallons_used)

In [18]:
MPG()

27.272727272727273

In [19]:
MPG(miles_driven=500)

27.272727272727273

###  Function repeat using `for` loop

In [20]:
def repeat_echo(data, count):
    for i in range(count):
        print(data)

In [21]:
repeat_echo("2001 Newburg Road", 5)

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

## Practice: Define a function called `name` and print your name 20 times using the function

In [22]:
def name(data, count):
    for i in range(count):
        print(data)

In [23]:
name("Leighann", 20)

Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann
Leighann

### Write a function to find maximum of three values

In [24]:
max(23,56,78)

78

In [25]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif (b>c):
        largest=b
    else:
        largest=c
    return largest

In [26]:
maximum(23,45,12)

45

In [27]:
maximum(45,12,89)

89

In [28]:
maximum(67,89,12)

89

### Practice Example: Define `minimum` function of three values

In [29]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif (b<c):
        smallest=b
    else:
        smallest=c
    return smallest

In [30]:
minimum(45,12,7)

7

In [31]:
minimum(4,3,89)

3

In [32]:
minimum(85,41,13)

13

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [33]:
def addition(*args):
    return sum(args)

In [34]:
addition(10,23,45,67)

145

In [35]:
addition(34,67,23,12,89,67,87)

379

In [36]:
# Average of Numbers
def get_mean(*args):
    return sum(args)/len(args)

In [37]:
get_mean(23,23,45,67)

39.5

In [38]:
get_mean(1,2,3,4,5,6,7,8,9,10)

5.5

### Arbitary Argumented list with list

In [39]:
numbers=[34,56,78,99]
get_mean(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [40]:
x=10 # Global variable
def scope_of_function(num):
    return num*2  # num is a local variable
scope_of_function(20)

40

In [41]:
scope_of_function(10)

20

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [42]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()

3.5

In [43]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [44]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [45]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [46]:
from math import pi
pi

3.141592653589793

In [47]:
def area_circle(r):
    return pi*(r**2)
def peri_circle(r):
    return 2*pi*r
radius=int(input("Enter the value of r: "))
print("The area of the circle is ", area_circle(radius))

print("The perimeter of the circle is ", peri_circle(radius))

Enter the value of r: 10
The area of the circle is  314.1592653589793
The perimeter of the circle is  62.83185307179586

## Write functions to find out Area and Perimeter of rectangle

In [48]:
def area_rect(h,w):
    return h*w
def peri_rect(h,w):
    return (2*h)+(2*w)
height=int(input("The height of the rectangle: "))
width=int(input("The width of the rectangle: "))
print("The area of the rectangle is ", area_rect(height,width))
print("Perimeter of the rectangle is ", peri_rect(height,width))

The height of the rectangle: 15
The width of the rectangle: 20
The area of the rectangle is  300
Perimeter of the rectangle is  70

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [49]:
import random
x=random.randrange(10,20)
print(x)

15

In [52]:
# Filling an empty list with random numbers
List=[]
for i in range(10): # 10 entries to the list
    x=random.randrange(1,20) # numbers in between 1 to 19 included
    List.append(x)
    print(x)
print(List)

4
10
14
13
13
18
19
11
1
19
[4, 10, 14, 13, 13, 18, 19, 11, 1, 19]

## Create a list of 20 numbers in the range of 30 to 50

In [53]:
List2=[]
for i in range(20):
    x=random.randrange(30,51)
    List2.append(x)
    print(x)
print(List2)

42
41
49
49
30
36
31
36
32
43
40
40
42
48
42
38
43
46
31
39
[42, 41, 49, 49, 30, 36, 31, 36, 32, 43, 40, 40, 42, 48, 42, 38, 43, 46, 31, 39]

## Print 20 numbers in the range of 30 to 50

In [58]:
print(List2)

[42, 41, 49, 49, 30, 36, 31, 36, 32, 43, 40, 40, 42, 48, 42, 38, 43, 46, 31, 39]

### Guess the number between 1 to 10

In [57]:
import random
number=random.randint(1,10) # randint 10 is included
entered_number=None
time=0

while entered_number!=number:
    entered_number= int(input("Enter a number between 1 to 10: "))
    if entered_number==number:
        print("You won", "You took", time, "chances")
    else:
        print("Try again")
    time=time+1

Enter a number between 1 to 10: 5
Try again
Enter a number between 1 to 10: 4
Try again
Enter a number between 1 to 10: 7
Try again
Enter a number between 1 to 10: 10
You won You took 3 chances